[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"

[dev-packages]
pylint = "*"
jsondiff = "*"
"autopep8" = "*"
coverage = "*"

[requires]
python_version = "3.7"